#containerMain {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    'im'
    'mn'
    ;
}


#boxthing {
    position: fixed;
    width: 100%;
}

#imgMeny {
    max-width: 100%;
    max-height: 100%;
}

.menuthing {
    height: 100%;
    width: 100%;
    background: #181818;
    position: fixed;
    top: 0;
    left: -10000px;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    cursor: pointer;
    display: inline;
    position: fixed;
    padding-top: 15px;
    padding-left: 15px;
    z-index: 10000000;
}

.white {
    color: white;
}

.list1 {
    padding-top: 75px;
    color: white;
    font-size: 2rem;
}

.menuList {
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.normalText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

a{
    color: white;
    text-decoration: none;
}

a:link{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:active{
    color: white;
    text-decoration: none;
}

.showMenu {
    left: 0px;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

/* .showMenu{
    animation-duration: 0.5s;
    animation-name: menuOpen;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}  */

/* @keyframes menuOpen{
    0%{
        position: fixed;
    }
    100%{
        transform: translate(100vw, 0px);
    }
} */

#imgMain {
    display: flex;
    grid-area: im;
    background-color: #97767C;
    background: url(/img/grilled-cheese-sandwich.jpg);
    height: 100vh;
    justify-content: center;
    text-align: center;
}

#titleBox {
    margin-top: 300px;
    font-size: 3rem;
    background-color: rgba(0,0,0,0.7);
    color: rgb(173, 173, 173);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 50px;
    position: sticky;
    top: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main1 {
    grid-area: mn;
    background-color: #97767C;
    font-size: 2rem;
    text-align: center;
    padding-top: 50px;
    background: url(/img/grilled-cheese-vertical-jpg-1522266150.jpg);
}


body {
    margin: 0;
    overflow-x: hidden;
}

/* LORE */

#loreGrid {
    display: grid;
    height: 100vh;
    grid-template-areas:
    'hd'
    'lo'
    'bt'
    ;
}

#loreHead {
    display: flex;
    grid-area: hd;
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    background: #6d6d6d;
}

#loreText {
    grid-area: lo;
    background-color: blue;
    background: url(/img/grilled-cheese-sandwich.jpg);
    height: 80vh;
}

#loreBottom {
    grid-area: bt;
    background-color: #181818;
    height: 10vh
}

#loreMain {
    display: flex;
    background-color: rgba(0,0,0,0.7);
    color: rgb(173, 173, 173);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

#orderText {
    display: flex;
    background-color: rgba(233, 233, 233, 0.637);
    color: rgb(26, 26, 26);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 0%;
}

#orderGrid {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'od'
    'om'
    'ob'
    ;
}

#titleOrder {
    font-size: 1.5rem;
    margin-top: 100px;
    
}

.Name {
    height: 15px;
    margin-left: 10px;
}

.nameBox {
    height: 50px;
    margin-left: 10px;
    margin-top: 50px;
}

.cheese {
    width: 20px;
    margin-top: 50px;
}

#orderButton {
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
    
}

#orderMain {
    grid-area: lo;
    background-color: blue;
    background: url(/img/grilled-cheese-sandwich.jpg);
    height: 100vh;
    width: 100vw;
}

#rapper {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-areas: 
    'ca'
    'ga'
    'ab'
    ;
}


#cabeza {
    display: flex;
    height: 75px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    background: #6d6d6d;
    grid-area: ca;
}

#galleryimg {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: ga;
}

#bollar {
    height: 759px;
    width: 878px;
}

#lapartedeabajo {
    display: flex;
    grid-area: ab;
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    background: #6d6d6d;
}

@media (max-width: 600px) {
    #bollar {
        height: 303.6px;
        width: 351.2px;
    }
}

@media (min-width: 600px) {
    #imgMain {
        background: url(/img/tips-for-perfect-grilled-cheese.png);
    }

    #loreText {
        background: url(/img/tips-for-perfect-grilled-cheese.png);
    }

    #loreMain {
        padding-right: 100px;
        padding-left: 100px;
    }
    
    #orderMain {
        background: url(/img/tips-for-perfect-grilled-cheese.png);
    }

    #orderText {
        width: 60%;
        margin-left: 20%;
    }
}

@media (min-width: 1100px) {
    #main1 {
        background: url(/img/grey-gradient-abstract-backgrounds-free-vector.png);
    }
}